</br>
</br>
<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Welcome to your mailbox <%= current_user.name %> !!!</h2>
        <h3>All Conversations Listed Here</h3>
        <hr class="star-primary">
    </div>
    <div class="col-lg-12 text-center"> 
        Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>) |
        All Conversations (<%= current_user.mailbox.conversations.count %>) |
        Sent (<%= current_user.mailbox.sentbox.count %>) |
        Trash (<%= current_user.mailbox.trash.count %>)     
    </div>
    <div class="col-lg-12 text-center">
        <% @conversations.each do |c| %>
            <% if c.is_unread?(current_user) %>
                <strong><%= link_to c.subject, conversation_path(c) %> </br></strong>
            <% else %>
                <%= link_to c.subject, conversation_path(c) %> </br>
            <% end %> 
        <% end %>
    </div>
</div>